<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="appConfiguration" type="ProtocolHandler.AppConfiguration, ProtocolHandler"/>
    </configSections>
    <appConfiguration xmlns="urn:ProtocolHandler">
        <handlers>
            <handler name="firefox" application="C:\Program Files (x86)\Mozilla Firefox\FireFox.exe" protocol="http"/>
            <handler name="firefoxs" application="C:\Program Files (x86)\Mozilla Firefox\FireFox.exe" protocol="https"/>
        </handlers>
    </appConfiguration>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
